[submodule "nutch"]
	path = nutch
	url = git@github.com:apache/nutch.git
	branch = branch-1.10
[submodule "wonutch-plugins"]
	path = wonutch-plugins
	url = git@github.com:wobot-ru/wonutch-plugins.git
	branch = trunk
